* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

$bgColor: rgba(59, 58, 58, 0.87);
$color: #cccccc;
$blockWidth: 400px;
$border: 4px solid rgb(245, 122, 0);

.widget__wrapper {
  margin: 50px auto;
  padding: 20px 20px;
  background: $bgColor;
  color: $color;
  width: $blockWidth;
  border: $border;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.widget__title {
  display: flex;
  justify-content: space-between;
}

.widget__title_text {
  text-align: center;
  margin-bottom: 20px;
}

.widget__title_img {
  max-width: 80px;
  max-height: 40px;
  border-radius: 100px;
  margin-left: 20px;
}

.widget_input {
  margin-bottom: 20px;
  padding: 8px 10px 8px 10px;
  border-radius: 15px;
  border: 0;
  outline: none;
}

.btn {
  padding: 8px 10px 8px 10px;
  border-radius: 15px;
  border: 0;
  color: $color;
}

.widget_btn {
  width: 50%;
  margin: 0px auto;
  background-color: rgb(22, 22, 22);
  font-size: 15px;
  font-weight: 700;
}

.widget_btn:hover {
  border: 2px solid rgb(245, 122, 0);
}

.widget__task {
  list-style-type: none;
}

.important {
  font-weight: 700;
  color: red;
}

label {
  cursor: pointer;
}
